
/* Main div holding the primary contents */
.mainHolder{
  margin:auto;
  width:100%;
  max-width:500px;
 height: calc(100vh - 48px);
 background-color: #e2e0c5;
 max-height: 800px;
}
.mainHolder h3{
  padding-top:12px;
  margin-top:0px;
}
.mainHolder  .row{
  margin-bottom:0px;
}
.btn, .btn-large, .btn-small {
  text-decoration: none;
  color: black;
  background-color: #fed931;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
  font-weight: bold;
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
  background-color: #e4c331;
}

.btnHome{
  margin-bottom:24px;
}

/* OR buttons */
.or{
  background:url('/images/or.png');
  color:black;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 25px;
  position: relative;
  margin: -25px auto;
  font-weight: bold;
  box-shadow: 0px 5px 3px 3px rgba(0,0,0,0.3);
}

/* Three main buttons on home page */
.section{
  width:100%;
  height:33.3%;
  border:none;
  cursor:pointer;
  font-size:36px;
  border-bottom:3px solid #fed931;
  background-color: #e2e0c5;
}
button.section:focus{
background-color:#e2e0c5 !important;
}
.sec1{
  background-image: url(/images/cartouche.png), url(/images/cartouche.png),  url(/images/border.png), url(/images/totalSum.png);
  background-repeat: no-repeat, no-repeat, repeat-x, no-repeat;
  background-position: 5px 5px, calc(100% - 5px) 5px, 0px calc(100% - 5px), center center;
  
}
.sec2{
  background-image: url(/images/cartouche.png), url(/images/cartouche.png),  url(/images/border.png), url(/images/even.png);
  background-repeat: no-repeat, no-repeat, repeat-x, no-repeat;
  background-position: 5px 5px, calc(100% - 5px) 5px, 0px calc(100% - 5px), center center;
}
.sec3{
  background-image: url(/images/cartouche.png), url(/images/cartouche.png),  url(/images/border.png), url(/images/itemize.png);
  background-repeat: no-repeat, no-repeat, repeat-x, no-repeat;
  background-position: 5px 5px, calc(100% - 5px) 5px, 0px calc(100% - 5px), center center;
}
.mainHolder a:last-child .section{
  border-bottom:none;
}

/*Toggle Switches*/
.switch{
  width:50%;
  display: inline-block;
  margin:14px 0;
}
.switch span{
  margin-right:12px;
  width:50%;
  display: inline-block
}
.switch label input[type=checkbox]:checked+.lever, .btn:hover, .btn-large:hover, .btn-small:hover { 
  background-color: #f8e17b;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #fed931;
}

/*Sliders */
.rangeslider.rangeslider-horizontal{
  width:80%;
  margin:24px auto;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: #fed931;
  background: linear-gradient(to bottom, #fed931 20%,#fcf4b0  40%,#fed931 100%); 
  border-radius: 10px;
  top: 0;
}
.rangeslider__handle::after{
  visibility: hidden;
}
.rangeslider__handle-label{
  line-height: 28px;
  user-select: none; 
}
.rangeslider__handle{
  outline:none;
}
.rangeslider__labels{
  margin-top:0px;
  margin-bottom:12px;
}
#tipslider{
  margin-bottom:36px;
}

/*Input fields*/
input[type=text], input[type=number]{
  border:1px solid #ececec !important;
  width:80% !important;
  margin:0 auto !important;
  padding-left:12px !important;
  padding-right:12px !important;
  box-sizing: border-box !important;
  background: white !important;
}
.input-field.col{
  margin-bottom:0px;
}
input[type=text]:not(.browser-default):disabled, input[type=number]:not(.browser-default):disabled{
  color:black !important;
}
.helper-text{
  display: none !important;
}




